$white: #fff;
$blue: #0275d8;
$blue-hover: #025aa5;
$blue-border: #01549b;
$shark: #292b2c;
$mercury: #e6e6e6;
$silver-border: #adadad;
$silver: #ccc;
$athens-gray: #f7f7f9;
$black: #000;
$silver: rgba(204,204,204, 0.5)