<div class="container m-top-full">
  <div class="card">
    <div class="card-header d-flex">
      <h1 class="m-none font-md align-center">Browse Reservations</h1>
      <button class="btn btn-secondary btn-sm m-l-auto">Add Reservation</button>
    </div>
    <div class="calendar d-flex">
      <ul class="list left">
        <li class="list-header">
          <h3 class="m-none font-md">Cars</h3>
        </li>
        <li class="list-item" *ngFor="let item of reservations;">
          <span class="d-block">{{item.carData.carType}}</span>
          <span class="font-sm">{{item.carData.plateNumber}}</span>
        </li>
        <li class="list-footer"></li>
      </ul>
      <div class="table d-flex f-column">
        <div class="table-header bg-white">
          <span class="d-block month">{{minDate.toLocaleString('en', {month: 'long'})}} {{minDate.getFullYear()}}</span>
          <div class="nav-item">
              <span class="d-block next"></span>
              <span class="d-block prev"></span>
          </div>
        </div>
        <div class="table-body clearfix d-flex f-justify-between">
          <span class="column bg-silver"></span>
          <div class="res-container">
            <div class="d-flex f-column">
              <div class="dates d-flex">
                <span *ngFor="let date of allDates;">{{date.getDate()}}</span>
              </div>
              <ul class="list">
                  <li class="list-item" *ngFor="let item of reservations;">
                    <a routerLink="/reservations/{{res.id}}" *ngFor="let res of item.data;" [attr.data-from]="res.from" [attr.data-to]="res.to" [attr.style]="allDates[0] | calcWidth: res.from : res.to">{{res.clientName}}</a>
                  </li>
                  <li class="list-footer"></li>
                </ul>
            </div>
          </div>
          <span class="column m-l-auto bg-white"></span>
        </div>
      </div>
    </div>
  </div>
</div>